{% macro displayArticlesList(articles_list) %}

    {% for articles in articles_list %}
        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
            <img src="{{ articles.urlToImage }}" alt="{{ articles.title }} url" class="img-responsive">
            <li class="text-center">
                <a href="/articles/{{articles.id}}">
                    {{ articles.title|truncate(10)}}</a>
            </li>
        </div>

    {% endfor %}

{% endmacro %}

{% macro displayArticlesList(popular_list)%}
    {% for source in popular_news %}
    <div class="card border-secondary">
            <div class="card-body  bg-warning">
            <img src="{{source.urlToImage}}" class="card-img-top" alt="...">
              <div class="card-title">{{source.title}}</div>
              <div class="card-text">
                {{source.description}}
               </div>
              <a href="{{source.url}}" class="card-link">Read Full Story</a>
    
            </div>
    
            <footer class="blockquote-footer"> <cite title="Source Title">Posted on {{source.publishedAt}} </cite></footer>
          </div>

    {% endfor %}

{% endmacro %}